body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
a {
    color: #888;
}
body {
    font-family: Arial, sans-serif;

    color: rgb(53, 1, 44)
}

header {
    top:0;

    color: rgb(53, 1, 44);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}
.header_container {
   display: flex;
   align-items: center;
}

.title {
    margin-left: auto;
    margin-right: auto;

}

.trait_dessus {
   width : 60%;
   margin-left: auto;
   margin-right: auto;
}


main{
  display : flex;
}

.logo_container {
    justify-content: center;
    display: flex;
}
.logo_container_responsive{
    display: flex;
}
.social_icone {
    margin: 20px;
    width: 40px;
    height: 40px;
}


footer {
    width: 100%;
    bottom:0;
    text-align: center;

    color: #888;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
