body {

    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Didact Gothic', sans-serif;
    color:white;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, rgba(2, 254, 254, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(2, 254, 254, 0.2) 1px, transparent 1px);
    animation: 40s linear infinite crawlingWall;
    background-position-y: top;
    

}

@keyframes crawlingWall {
    to {
        background-position-y: bottom;
        
    }
}

p{
    color:rgb(2, 254, 254);
     
}

.custom-form {
    max-width: 400px; 
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}



.form-control {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid rgb(2, 254, 254); 
    border-radius: 4px;
}



.header_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
}

.title {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.text{

    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  .container_1, .container_2, .container_3 {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 0%;
      padding-top:0%;
  }
  
  
 .PLA_1, .PLA_2, .PLA_3{
    transform: translateX(-100%);
 }

 .PETG_1, .PETG_2, .PETG_3{
    transform: translateX(100%);
 }


  .PLA_1, .PETG_1, .PLA_2, .PETG_2,.PLA_3, .PETG_3 {
      width: 48%;
      padding: 40px;
      box-sizing: border-box;
      opacity: 0;
      transition: transform 1s ease, opacity 1s ease;
      
  
  }
  
  
  
  .custom-button-back {
    background-color:rgb(2, 254, 254);
    border-color: #3DA9FC;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
    margin: 0 auto;
  }
  
  .custom-button_up {

      border-color: rgb(2, 254, 254);
      padding: 10px 20px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 30px;
      margin-bottom: 5px;
      margin-left: 40%;
  }
  
  .text_PLA, .text_PETG{
  
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  
  .back-button{
    position: absolute;
    top: 40px; 
    left: 10px;
  }
  
  @media (max-width: 500px) {

    body {
        font-size: 5px;
    }

    
    p{

  
        font-size: 15px;
     
      }
    
 
      .custom-button-back, .custom-button_up {
       
        padding: 7px 12px;
        font-size: 10px;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 5px;
        margin: 0 auto;
    }
    
    .custom-button_up{

        align-items: center;

    }




}
