body {

    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Didact Gothic', sans-serif;
    color: rgb(2, 254, 254);
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, rgba(2, 254, 254, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(2, 254, 254, 0.2) 1px, transparent 1px);
    animation: 40s linear infinite crawlingWall;
    background-position-y: top;
    

}

@keyframes crawlingWall {
    to {
        background-position-y: bottom;
        
    }
}

.intro-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


#site-name {
    font-size: 8em; 
    margin-right: 60%; 
    margin-top: 0;
    transition: transform 1s ease; 
    transform: translateX(-100%);
    

}

#tagline {
    font-size: 2em;
    margin-right: 55%;
    transition: transform 1s ease; 
    transform: translateX(-100%);
    
    
}

#scroll-down {
    font-size: 2em;
    cursor: pointer;
    position: absolute; 
    bottom: 40px; 
    right: 50%; 
    color: rgb(2, 254, 254);
    transition: transform 1s ease, opacity 1s ease;
}




/*********************************************/




.new-view {
    opacity: 0;
    transition: opacity 1s ease;
    height: 100vh;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    font-size: 2.5em; 
     
}

.printing, .modeling {
    width: 48%; 
    padding: 40px;
    padding-top: 10%;
    box-sizing: border-box; 
 
}

.text_3D_printing{

    padding-bottom: 50px;
}

.custom-button {
    background-color:rgb(2, 254, 254);
    border-color: #3DA9FC;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
    margin: 0 auto;
}

.custom-button:hover {
    background-color:rgb(2, 254, 254);
    transform: scale(1.2); 
    transition: transform 0.6s ease; 
}



.hidden {
    opacity: 0;
}






