body {

    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    background-size: 40px 40px;
    background-image:
    linear-gradient(to right, rgba(2, 254, 254, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(2, 254, 254, 0.2) 1px, transparent 1px);
    animation: 40s linear infinite crawlingWall;
    background-position-y: top;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    

}

@keyframes crawlingWall {
    to {
        background-position-y: bottom;
        
    }
}
p{
    font-size: 2em;
}

button{

    border-color: rgb(2, 254, 254);
    padding: 15px 60px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 5px;
    
}